# Python / Django
__pycache__/
*.pyc
.env
db.sqlite3
/static/
/media/

# Node / React
node_modules/
dist/
build/
.npm
npm-debug.log

# Docker
.dockerignore

# IDEs e OS
.vscode/
.idea/
*.DS_Store
*.log
